<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/animations/animations.css"/>
    <link rel="stylesheet" href="bower_components/animations/component.css"/>
    <link rel="stylesheet" href="app/app.css">

</head>
<body>
<section>
<div class="container">
<div class="loading">
    <img src="assets/images/loading.gif" alt=""/>
</div>
</div>

<div class="test"><p class="Move"></p></div>
<div id="pt-main" class="pt-perspective">
<div class="pt-page pt-page-1">
    <div class="pos title1">
        <div class="pl_pr animation-parent">
            <div class="title-pic1" data-aniclss="pt-page-moveFromTop">
                <img src="assets/images/page01title.png" alt=""/></div>
            <div class="title-pic2"  data-aniclss="pt-page-rotateCarouselLeftIn"><img src="assets/images/page01subtitle.png" alt=""/></div>
            <p>
                在听完上一期关于传奇白马的故事后，你是否对那片神奇的活泉水特别感兴趣呢？由Rocozels侯爵出资修建的活泉水池，因造福了许多人，使得雅漾这座小城也越来越有名，成为肌肤疗愈之城。</p>

        </div>
    </div>
    <img data-src="assets/images/page01.jpg"/></div>

<div class="pt-page pt-page-2"><img src="assets/images/page02.jpg" alt=""/></div>
<div class="pt-page pt-page-3"><h1>每一滴雅漾活泉水都在数亿年形成的地层中酝酿了几十年，充分吸收岩石和土壤珍贵的矿物质和活性成分后，形成它独特的深层分子结构和特有的原子微粒间组成方式。<span>正是这样生物及矿物的双重活性让雅漾活泉水对于愈疗舒缓有着神奇作用，并且不能被复制。</span>所以，活泉是时间与自然的馈赠，弥足珍贵。</span>
    页面切换效果</h1><img data-src="assets/images/page03.jpg" alt=""/></div>
<div class="pt-page pt-page-4">
    <div class="pos title4 animation-parent">
        <div class="title-pic1" data-aniclss="pt-page-rotateCarouselRightIn"><img src="assets/images/page04title.png" alt=""/></div>
        <div class="title-pic2" data-aniclss="pt-page-rotateCarouselLeftIn"><img src="assets/images/page04subtitle.png" alt=""/></div>
        <p>在雅漾活泉护理中心，除了基础疗法的盆浴、淋浴、局部冲淋、水下按摩，还有封包疗法、日光水浴等等。最让伊姐动容的是，因每年接待的儿 童超过30%，护理中心还备有儿童游乐室和迷你小盆浴。有爱尽在细节处，简直萌萌哒！</p>
    </div>
    <div class="pos p1">
        <p>当进入32-34 度的恒温浴池，这短短的20分钟异常平静幸福！</p>
    </div>
    <div class="pos p2">
        <p>做完冲淋之后，伊姐在休息室躺下便是秒睡， 除去时差和劳顿，更是活泉的力量换来那几分钟深度的睡眠。</p>
    </div>
    <img data-src="assets/images/page04.jpg" alt=""/></div>
<div class="pt-page pt-page-5">
    <div class="pos title5">
        <p>现代化的无菌工厂，将活泉水原封送到全世界，</br>从深层活泉水到灌装，全程无菌，</br>不改变水的活性和功效，</p>
        <span>每一罐雅漾活泉喷雾都有着满满的诚意！</span>

    </div>
    <img data-src="assets/images/page05.jpg" alt=""/></div>
<div class="pt-page pt-page-question pt-page-6" data-question="0">
    <div class="pos animation-parent">
        <div class="title6-header">
            <img data-aniclss="pt-page-scaleUp" src="assets/images/page06title.png" alt=""/>
            <span>连着三期的伊姐南法阿尔比- 雅漾小清新之旅，</br>有没有认真看呢！认真，你就赢了！</span>
        </div>
    </div>
    <div class="pos pic-bottle">
        <img src="assets/images/page06bottle.gif" alt=""/>
    </div>
    <div class="pos title6-bg">
        <div class="title6-content">正确回答以下题目，就可免费获得</br>150ml 的雅漾舒护活泉喷雾哦！</div>
        <div class="area-bg"></div>
        <dl>
            <dt>
                Albi 阿尔比又称为：
            </dt>
            <dd>
                 <span><img class="selectdot" src="assets/images/selectdot.png" alt=""/>
                 <img class="check" src="assets/images/selectcheck.png" alt=""/>
                 </span> A．苍穹之城
            </dd>
            <dd>
                  <span><img class="selectdot" src="assets/images/selectdot.png" alt=""/>
                   <img class="check" src="assets/images/selectcheck.png" alt=""/>
                  </span> B．苍红之城
            </dd>
        </dl>

    </div>
    <div class="yes"><img src="assets/images/yes.gif" alt=""/></div>
    <img data-src="assets/images/page06.jpg" alt=""/></div>


<div class="pt-page pt-page-question pt-page-9" data-question="1">
    <div class="pos">
        <div class="title6-header animation-parent">
            <img src="assets/images/page06title.png" data-aniclss="pt-page-scaleUp" alt=""/>
            <span>连着三期的伊姐南法阿尔比- 雅漾小清新之旅，</br>有没有认真看呢！认真，你就赢了！</span>
        </div>
    </div>
    <div class="pos pic-bottle">

        <img src="assets/images/page06bottle.gif" alt=""/>
    </div>
    <div class="pos title6-bg">
        <div class="title6-content">正确回答以下题目，就可免费获得</br>150ml 的雅漾舒护活泉喷雾哦！</div>
        <div class="area-bg"></div>
        <dl>
            <dt>

                在Albi，有哪位著名法</br>
                国画家的博物馆？
            </dt>
            <dd>
                 <span><img class="selectdot" src="assets/images/selectdot.png" alt=""/>
                 <img class="check" src="assets/images/selectcheck.png" alt=""/>
                 </span> A．图卢兹·劳特累克
            </dd>
            <dd><span><img class="selectdot" src="assets/images/selectdot.png" alt=""/><img class="check" src="assets/images/selectcheck.png" alt=""/> </span> B．亨利·马蒂斯
            </dd>
        </dl>

    </div>
    <div class="yes"><img src="assets/images/yes.gif" alt=""/></div>
    <img data-src="assets/images/page06.jpg" alt=""/></div>
<div class="pt-page pt-page-question pt-page-10" data-question="2">
    <div class="pos">
        <div class="title6-header animation-parent">
            <img src="assets/images/page06title.png" data-aniclss="pt-page-scaleUp" alt=""/>
            <span>连着三期的伊姐南法阿尔比- 雅漾小清新之旅，</br>有没有认真看呢！认真，你就赢了！</span>
        </div>
    </div>
    <div class="pos pic-bottle">

        <img src="assets/images/page06bottle.gif" alt=""/>
    </div>
    <div class="pos title6-bg">
        <div class="title6-content">正确回答以下题目，就可免费获得</br>150ml 的雅漾舒护活泉喷雾哦！</div>
        <div class="area-bg"></div>
        <dl>
            <dt>

                最早发现雅漾活泉的是？
            </dt>
            <dd>
                 <span><img class="selectdot" src="assets/images/selectdot.png" alt=""/>
                 <img class="check" src="assets/images/selectcheck.png" alt=""/>
                 </span> A．一匹白马
            </dd>
            <dd>
                  <span><img class="selectdot" src="assets/images/selectdot.png" alt=""/>
                   <img class="check" src="assets/images/selectcheck.png" alt=""/>
                  </span> B．Rocozels 侯爵
            </dd>
        </dl>

    </div>
    <div class="yes"><img src="assets/images/yes.gif" alt=""/></div>
    <img data-src="assets/images/page06.jpg" alt=""/></div>
<div class="pt-page pt-page-question pt-page-11" data-question="3">
    <div class="pos">
        <div class="title6-header animation-parent">
            <img src="assets/images/page06title.png" data-aniclss="pt-page-scaleUp" alt=""/>
            <span>连着三期的伊姐南法阿尔比- 雅漾小清新之旅，</br>有没有认真看呢！认真，你就赢了！</span>
        </div>
    </div>
    <div class="pos pic-bottle">

        <img src="assets/images/page06bottle.gif" alt=""/>
    </div>
    <div class="pos title6-bg">
        <div class="title6-content">正确回答以下题目，就可免费获得</br>150ml 的雅漾舒护活泉喷雾哦！</div>
        <div class="area-bg"></div>
        <dl>
            <dt>

                雅漾活泉水是可以被现</br>
                代科学手段复制的吗？
            </dt>
            <dd>
                 <span><img class="selectdot" src="assets/images/selectdot.png" alt=""/><img class="check" src="assets/images/selectcheck.png" alt=""/></span>  A．可以
            </dd>
            <dd>
                  <span><img class="selectdot" src="assets/images/selectdot.png" alt=""/><img class="check" src="assets/images/selectcheck.png" alt=""/></span> B．不可以
            </dd>
        </dl>

    </div>
    <div class="yes"><img src="assets/images/yes.gif" alt=""/></div>
    <img data-src="assets/images/page06.jpg" alt=""/></div>
<div class="pt-page pt-page-question pt-page-12" data-question="4">
    <div class="pos">
        <div class="title6-header animation-parent">
            <img src="assets/images/page06title.png" data-aniclss="pt-page-scaleUp" alt=""/>
            <span>连着三期的伊姐南法阿尔比- 雅漾小清新之旅，</br>有没有认真看呢！认真，你就赢了！</span>
        </div>
    </div>
    <div class="pos pic-bottle">

        <img src="assets/images/page06bottle.gif" alt=""/>
    </div>
    <div class="pos title6-bg">
        <div class="title6-content">正确回答以下题目，就可免费获得</br>150ml 的雅漾舒护活泉喷雾哦！</div>
        <div class="area-bg"></div>
        <dl>
            <dt>

                雅漾活泉护理中心中水</br>
                疗用的水与雅漾舒护活</br>
                泉水一样吗？
            </dt>
            <dd>
                 <span><img class="selectdot" src="assets/images/selectdot.png" alt=""/>
                 <img class="check" src="assets/images/selectcheck.png" alt=""/>
                 </span> A．一样
            </dd>
            <dd>
                  <span><img class="selectdot" src="assets/images/selectdot.png" alt=""/>
                   <img class="check" src="assets/images/selectcheck.png" alt=""/>
                  </span> B．不一样
            </dd>
        </dl>

    </div>
    <div class="yes"><img src="assets/images/yes.gif" alt=""/></div>
    <img src="assets/images/page06.jpg" alt=""/></div>
<div class="pt-page pt-page-13">
    <div class="pos yes-or-no animation-parent">
        <img class="pt-page-scaleUpDown" data-aniclss="pt-page-scaleUpDown" src="assets/images/no.gif" alt=""/>
        <span>很抱歉！ 5 道题你没有都答对哦！</span>
        <a href="#">重新答题</a>

    </div>
    <img data-src="assets/images/page06.jpg" alt=""/>
</div>
<div class="pt-page pt-page-14" ng-app="form">
    <div class="pos yes-or-no animation-parent">
        <img class="pt-page-scaleUpDown" data-aniclss="pt-page-scaleUpDown" src="assets/images/yes.gif" alt=""/>
        <span>恭喜你！都答对了！</span>

        <form action="" name="myForm">
        <ul ng-controller="submit">
            <li><span class="user"><img src="assets/images/usernameicon.png" alt=""/></span><input type="text" placeholder="请输入你的名字" ng-model="usernames" name="usernames"   ng-pattern="/^[a-z0-9_\u4e00-\u9fa5]+$/">


                <div class="error" ng-show="myForm.usernames.$invalid">请正确输入你的名字</div>
            </li>


            <li>
                <span class="user"><img src="assets/images/phonenumbericon.png" alt=""/></span>
                <input type="text" ng-model="number" name="number" ng-pattern="/^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/"/>
                <div class="error" ng-show="myForm.number.$invalid">请正确输入手机号码</div>
            </li>
        </ul>
        <a href="#" ng-click="submits()">提 交</a></form>
    </div>
    <img data-src="assets/images/page06.jpg" alt=""/>
</div>
</div>
</section>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script>
    var forms = angular.module('form',[]);
    forms.controller('submit',['$scope','$http',function($scope,$http){
    $scope.submits = function(){
        if($scope.myForm.$valid){
            $http({
                method: "POST",
                url: "sentMail.php",
                params: {
                    user: $scope.usernames,
                    phone:$scope.number
                }
            })

        }
    }
    }])

    var img = $('[data-src]');
    var imglength = img.length;

    function accountNumb(){
        imglength--;

        if(imglength<2){
            alert('完成了,所以,可以隐藏loading了')
            $('.container').hide();
        }

    }
    img.on({'load':accountNumb,'error':accountNumb});

    img.each(function(){
        $(this).attr('src',$(this).data('src'));
    });

</script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="app/effect/modernizr.js"></script>
<script src="app/effect/step.js"></script>
</body>
</html>
