


@font-face {
    font-family: 'aaa';
    src: url('Century_Gothic.eot');
    src: url('Century_Gothic.eot?#iefix') format('embedded-opentype'),
    url('Century_Gothic.woff') format('woff2'),
    url('Century_Gothic.woff') format('woff'),
    url('Century_Gothic.ttf') format('truetype'),
    url('Century_Gothic.svg#aaa') format('svg');
}